body {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    color: #fff;
    background-color: #292929;
}

#logo {
    height: 50px;
    width: 275px
}

.profitPoint {
    fill: none;
    stroke: red;
    stroke-width: 2;
}
            
svg {
    padding: 20px;
}

#timeframe, #inputs {
 
    padding-left: 30px;
}

#timeframe {
    color: #FF9900;   
    font-size: 20px;
}

#graph {
 
    float: left;
    clear: both;
}

#minigraph {
    float: left;
    margin-left: 20px;
}
        
/* Styling from http://alignedleft.com/tutorials/d3/axes*/
.axis path,
.axis line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #dcdcdc;
}

.axis text {
    font-size: 11px;
    stroke: #dcdcdc;
}

/* Styling from https://gist.github.com/benjchristensen/2579599 */
.line {
    fill: none;
    stroke: #6FB3DA;
    stroke-width: 1;
}

.area {
    fill: none;
    stroke-width: 0;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.point circle {
  fill: #FF9900;
  stroke: none;
}

.point rect {
    fill: #fff;
    fill-opacity: .2;
    stroke: none;
}

#linepointer {
    stroke: #fff;
    stroke-width: 1;  
}

#time, #price {
    font-size: small;
    fill: #fff;
    
}
